#Required
export RADOS_ACCESS_KEY=""
export RADOS_SECRET_KEY=""
export RADOS_ENDPOINT="http://example.com"
export BROKER_USERNAME=""
export BROKER_PASSWORD=""

#Optional can be left to use the defaults
export S3_PATH="/"
export SWIFT_PATH="/auth/v1.0"
export RADOS_ADMIN="admin" #This needs to match the option on your object store gateway
export INSTANCE_LIMIT=2000
export BUCKET_NAME="ceph-objectstore-broker"
export INSTANCE_PREFIX="instances/"